body {
     margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url('friends.webp') no-repeat center center fixed; /* Cambia 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
    background-size: cover;
}

#topbar {
    background-color: rgba(51, 51, 51, 0.9); /* Fondo del encabezado con transparencia */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    font-size: 24px;
}

#navbar {
    display: flex;
}

#navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.search-profile-container {
    display: flex;
    align-items: center;
}

.search-container {
    text-align: right;
    margin-left: auto;
}

.search-container form {
    display: flex;
}

.search-container input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-container button {
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente de las publicaciones */
    padding: 20px; /* Espaciado para las publicaciones */
}

#content {
    width: 60%;
}

.post {
    margin-bottom: 20px;
    background-color: #fff; /* Fondo blanco para cada publicación */
    padding: 15px; /* Espaciado interno para cada publicación */
}

.post button {
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.profile-search img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Regla de medios para pantallas pequeñas (hasta 600px) */
@media only screen and (max-width: 600px) {
    #topbar {
        flex-direction: column;
        text-align: center;
    }

    .search-profile-container,
    .profile img {
        margin: 10px 0;
    }

    .search-container {
        margin: 10px 0;
    }

    #content {
        width: 90%;
    }
}
